<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DPY - Digital Presentationsyta</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1>Christian Ahlsén - Portfolio</h1>
        </a>
    </header>
    <nav>
        <ul>
            <li>
                <span><a href="resurs.html"><span>Resource(s</span>)</a>
                <div>
                    <div class="dropdown-content">
                        <a href="#">Assignment 1</a>
                        <a href="#">Assignment 2</a>
                        <a href="#">Assignment 3</a>
                    </div>
                </div>
                </span>

            </li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#blog.html">Blog</a></li>
            <li><a href="#qa.html">QA</a></li>
        </ul>
    </nav>

    <figure>
        <img width="400" height="225" src="../img/Me_guitar.jpg">
    </figure>
    <article id="wrapper" id="logo">
        <header>
            <h3>About me</h3>
        </header>
        <p>
            As a child I wasn't overly interested in computers and technology in general. I would often make drawings, play video games(alot)and play the guitar rather than indulge myself in the technology itself of all the things surrounding me. Nowadays I spend most of my time doing the opposite. if I'm about to learn some new software I want to know EVERYTHING in a kind of obsessive way(which sometimes gets the better of me). It took me quite a while to figure out what I wanted to do. I've studied a lot of things and among those things are: the japanese language(for about 3,5 years) ,sound engineering and lately programming which made it clear to me what I wanted to continue doing.
        </p>
        <header>
            <h3> What can I teach other people?</h3>
        </header>
        <p>I'm well-versed in Japanese and sound-engineering. I also have basic/intermediate programmingskills in C-sharp. Please let me know if you have any questions(or just want to get to know me), give me a holler on my facebook page, twitter or linkedin.
        </p>

    </article>
    <footer>

    </footer>
</body>

</html>
