<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Christian Fujimaki Ahlsén - Portfolio</title>
	<link rel="stylesheet" href="../css/main.css">
</head>

<body>
	<header>
		<a href="index.html" id="logo">
			<h1>Christian Fujimaki Ahlsén - Portfolio</h1>
		</a>
	</header>
	<nav>
		<ul>
			<li>
				<span><a href="resurs.html"><span>Resource(s</span>)</a>
				<div>
					<div class="dropdown-content">
						<a href="#">Assignment 1</a>
						<a href="#">Assignment 2</a>
						<a href="#">Assignment 3</a>
					</div>
				</div>
				</span>
			</li>
			<li><a href="about.html">About</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="qa.html">QA</a></li>
		</ul>
	</nav>
	<section id="wrapper" id="logo">
		<footer>
			<p style="text-align:center;"></p>
			<nav class="selected">
				<li>
					<a href="https://www.facebook.com/christian.ahlsen.3" target="_blank">
						<img src="../img/facebook.png" width="100px" height="100px" style="border:2px dotted grey;">
					</a>
				</li>
				<li>
					<a href="https://twitter.com/LifeOfBrackets" target="_blank">
						<img src="../img/twitter.png" width="100px" height="100px" style="border:2px dotted grey;">

					</a>
				</li>
				<li>
					<a href="mailto:christianahlsen@gmail.com">

						<img src="../img/mail.png" width="100px" height="100px" style="border:2px dotted grey;">
					</a>

				</li>

			</nav>

		</footer>
	</section>
</body>

</html>
