<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DPY - digital presentationsyta</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
    <header>
        <a href="index.html" id="logo">
            <h1>Christian Ahlsén - Portfolio</h1>
        </a>
    </header>
    <nav>
        <ul>
            <li>
                <span><a href="resurs.html"><span>Resource(s</span>)</a>
                <div>
                    <div class="dropdown-content">
                        <a href="#">Assignment 1</a>
                        <a href="#">Assignment 2</a>
                        <a href="#">Assignment 3</a>
                    </div>
                </div>
                </span>

            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="qa.html">QA</a></li>
        </ul>
    </nav>
    <figure>
        <img style="border-radius:200px;" src="../img/Front.png" alt="Where did the picture go.. ?">
    </figure>


</body>

</html>
