<!DOCTYPE html>
<html lang=sv>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Christian Fujimaki Ahlsén - Portfolio</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
	<header id="logo">
		<a href="index.html">
			<h1>Christian Fujimaki Ahlsén - Portfolio</h1>
		</a>
	</header>
	<nav>
		<ul>
			<li>
				<span><a href="resurs.html"><span>Resource(s</span>)</a>
				<div>
					<div class="dropdown-content">
						<a href="#">Assignment 1</a>
						<a href="#">Assignment 2</a>
						<a href="#">Assignment 3</a>
					</div>
				</div>
				</span>

			</li>
			<li>
				<a href="about.html">About</a>
			</li>
			<li>
				<a href="contact.html">Contact</a>
			</li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="qa.html">QA</a></li>
		</ul>
	</nav>
	<figure>
		<img class="hero" src="../img/Front.png" alt="Where did the picture go ?">
	</figure>


</body>

</html>
